module.exports = {
  assetDefinitions: [{
        "colorDescs": ["epobc:a254bd1a4f30d3319b8421ddeb2c2fd17893f7c6d704115f2cb0f5f37ad839af:0:354317"],
        "monikers": ["euro"],
        "unit": 100
  }],
  testnet: false,
  spendUnconfirmedCoins: false,
  walletMnemonic: 'provide rail journey neither script nasty fetch south seat obvious army two',
  walletPassword: ""  
}